:root {
  --color-dark: rgb(24, 25, 27);
  --color-dark2: rgb(18, 21, 25);
  --color-dark3: rgb(20, 21, 22);
  --color-white: rgb(255, 255, 255);
  --color-light: rgb(207, 221, 227);
  --color-green: rgb(80, 195, 111);
  --color-green2: rgb(57, 146, 100);
  --color-red: rgb(247, 85, 80);
  --color-red2: rgb(146, 22, 17);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--color-dark);
  color: var(--color-white);
}

form {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form>input,
form>button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
}

form>button {
  background-color: var(--color-green);
  color: var(--color-dark);
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.2rem;
  transition: .2s;
}

form #sign-up {
  background-color: var(--color-dark);
  border: 0.05rem solid;
  color: var(--color-light);
  font-weight: bold;
  margin-top: 0.2rem;
  transition: .2s;
}

form #sign-up:hover {
  background-color: var(--color-light);
  border-color: var(--color-light);
  color: var(--color-dark);
  cursor: pointer;
}

form>button:hover {
  background-color: var(--color-green2);
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

#login {
  display: block;
  transition: 2s ease;
}

#login-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#logged {
  display: none;
  height: 100vh;
  width: 100vw;
}

#logged-content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid: auto-flow / 1fr 1fr;
}

#calculator {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#history {
  background-color: var(--color-dark3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator-body {
  width: 232px;
  background-color: #202024;
  border: #707072 0.02rem solid;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  overflow: hidden;
}

#alert-msg {
  font-size: 0.7rem;
  color: var(--color-red);
}

#result {
  height: 80px;
  padding: 20px;
  text-align: right;
  color: var(--color-white);
  font-family: "myriad-pro", sans-serif;
  font-weight: lighter;
  font-size: 3rem;
}

#calculator-body>.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.938rem;
  color: #E6E6E6;
  font-weight: 400;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-zero {
  grid-column: span 2;
}

.bg-gray {
  background-color: #363639;
}

.bg-light-gray {
  background-color: #57575A;
}

.bg-orange {
  background-color: #ffa01b;
}

button:active {
  opacity: 0.7;
}


@media (max-width: 600px) {
  #logged-content {
    grid: auto-flow / 1fr;
  }
}